:root {
    --background: rgb(109, 74, 0);
    --header-background: white;
    --footer-background: black;
}

body {
    background-color: rgb(60, 39, 81);
    color: white;
}

header {
    margin: 0px 250px;
    /* display: grid; */
    height: 100px;
}

.header-div {
    display: grid;
    grid-template-rows: 1fr;
}

.header-ul {
    display: grid;
    background-color: rgb(185, 141, 20);
}

main {
    height: 100vh;
    margin: 0px 250px;
    padding: 20px;
    background-color: rgb(3, 3, 114);
}

footer {
    position: relative;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
    height: 100px;
}

.hide {
    display: none;
}
