:root {
    --background: rgb(245, 167, 0);
    --header-background: white;
    --footer-background: black;
}

body {
    background-color: rgb(52, 0, 103);
    color: white;
    display: grid;
    grid-template-rows: 240px 1fr 150px;
    margin: 40px 200px black;
}

header {
    margin: 0px 250px;
    /* display: flex;
    justify-content: center;
    width: 100%; */
    /* height: 100px; */
}

.header-div {
    height: 100%;
    background-color: rgb(0, 120, 120);
}

.header-ul {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: rgba(0, 255, 17, 0.258);
    height: 100%;
    padding: 5px;
}

.header-ul li {
    background-color: rgb(35, 0, 151);
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form1 {
    /* border: 5px solid white; */
    padding: 20px 20px;
    background-color: white;
    border-radius: 20px;
    color: black;
    width: 500px;
    height: 80px;
    border: 1px solid black;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

#form-div {
    background-color: rgb(0, 120, 120);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#name-display {
    height: 80px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    color: black;
}

.name-display-class {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid black;
    padding-left: 20px;
}

.hide {
    display: none;
}

#btn,
#btn2 {
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    height: 40px;
    /* display: inline-block; */
    box-shadow: 0 5px 18px black;
    position: relative;
    top: 20px;
    transition: 0.4s;
}
#btn {
    position: relative;
    top: 0px;
    left: 20px;
}

#btn2 {
    position: relative;
    top: 20px;
}

#btn:hover,
#btn2:hover {
    background-color: rgb(151, 151, 255);
}
#btn:active,
#btn2:active {
    background-color: rgb(0, 255, 34);
    transform: scale(0.9);
    box-shadow: 0 3 15px black;
}

/* 













 */

.animate-button-div {
    position: absolute;
    top: 430px;
    left: 435px;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    transition: 0.4s;
    box-shadow: 0 5px 18px black;
}

.animate-button-div:hover {
    background-color: blue;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 5px 18px black;
}
.animate-button-div:active {
    transform: scale(0.9);
    /* background-color: greenyellow; */
    box-shadow: 0 3 15px black;
    color: black;
}

.animate-button-div:focus {
    background-color: blueviolet;
}

#animate-btn1 {
    left: 0px;
}
#animate-btn2 {
    left: 630px;
}

.animate-div-class {
    background-color: rgb(0, 120, 120);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 250px;
    margin: 10px 0px;
}

.rotate-div {
    background-color: blue;
    height: 150px;
    width: 150px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.rotate-div:hover {
    background-color: aquamarine;
}

#rotate1 {
}
#rotate2 {
}
#rotate3 {
}

.move1 {
    transform: skewX(360deg);
    background-color: darkgreen;
    transition-duration: 3s;
}

.move2 {
    transform: rotateX(1440deg);
    background-color: rgb(104, 104, 104);
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}

.move3 {
    transform: scale(0);
    background-color: rgb(255, 166, 0);
    transition-timing-function: ease-out;
}

.animate1 {
    animation-name: slide1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    background-color: blueviolet;
    animation-fill-mode: forwards;
}
.animate2 {
    animation-name: slide2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    background-color: rgb(0, 255, 26);
    animation-fill-mode: forwards;
}
.animate3 {
    animation-name: slide3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    background-color: rgb(0, 157, 255);
    animation-fill-mode: forwards;
}

@keyframes slide1 {
    0% {
        transform: translateX(0) translateY(0x) scale(1);
    }
    33% {
        transform: translateX(500px) translateY(-200px) rotateX(180deg) scale(0);
    }
    48% {
        transform: translateX(-300px) translateY(-450px) rotateX(-180deg) scale(0.3);
    }
    63% {
        transform: translateX(150px) translateY(-600px) rotate(180deg) scale(0.8);
    }
    100% {
        transform: translateX(-1000px) translateY(400px) rotateX(360deg) scale(1);
    }
}
@keyframes slide2 {
    0% {
        transform: translateX(0) translateY(0x) scale(1);
    }
    20% {
        transform: translateX(-300px) translateY(100px) rotateY(180deg) scale(0);
    }
    38% {
        transform: translateX(150px) translateY(-350px) rotate(-180deg) scale(0.5);
    }
    83% {
        transform: translateX(600px) translateY(100px) rotate(180deg) scale(0.3);
    }
    100% {
        transform: translateX(-800px) translateY(-500px) rotateY(360deg) scale(1);
    }
}
@keyframes slide3 {
    0% {
        transform: translateX(0) translateY(0x) scale(1);
    }
    25% {
        transform: translateX(200px) translateY(-300px) rotateX(180deg) scale(0);
    }
    50% {
        transform: translateX(300px) translateY(-450px) rotate(-360deg) scale(0.2);
    }
    75% {
        transform: translateX(-150px) translateY(-600px) rotate(180deg) scale(0.7);
    }
    100% {
        transform: translateX(700px) translateY(500px) rotateX(360deg) scale(1);
    }
}

/* 







 */

.footer-div-class {
    background-color: rgb(0, 120, 120);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
main {
    height: 100vh;
    margin: 0px 250px;
    padding: 10px;
    background-color: rgb(3, 3, 114);
}

footer {
    position: relative;
    bottom: 0;
    margin: 0px 250px;
    padding: 10px 10px;
    font-size: 0.8em;
    background-color: var(--footer-background);
    height: 100%;
}

.footer-div {
    background-color: rgba(0, 255, 17, 0.258);
    height: 100%;
}

.footer-ul {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    background-color: blueviolet;
    /* height: 100%; */
    width: 100%;
}
.footer-ul li {
    background-color: blue;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animation-neato {
}
